name: Build Admin and API

on:
  push:
    branches:
      - main
      - dev
      - fix-railway
      - fix-railway-multiple-tenant
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TURBO_DISABLE_API: '1'
      SKIP_ENV_VALIDATION: 'true'
      NODE_ENV: production
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Generate Prisma Client
        run: npx prisma generate --schema=./prisma/schema.prisma

      - name: Prepare runtime directories
        run: mkdir -p apps/api/public/uploads

      - name: Build client app
        run: yarn build --filter=@rentalshop/client

      - name: Build admin app
        run: yarn build --filter=@rentalshop/admin

      - name: Build API app
        run: yarn build --filter=@rentalshop/api

